/* Global */

body {
	font-family: 'Roboto', sans-serif;
}

.Background-color {
	background: url("https://images.unsplash.com/photo-1521381802788-d5900db802dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80") no-repeat  fixed center/5%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	text-align: center
}
/* *** NAV*** */
.teal {
	background-color: rgba(0, 0, 0, 0.78);
}
/* *** Main*** */
h1{
	font-family: 'Ubuntu', sans-serif!important;
}

.jumbotron{
	background-color: transparent;
	font-size: medium;
}

/* *** Body card section*** */


.card {
	background-color: #ffffff8f;
}

body > main > div.row.row-cols-1.row-cols-md-2 {
	justify-content: space-evenly;
	background-color: transparent;
}




/* ***Footer*** */
footer{
	background-color: rgba(0, 0, 0, 0.78);
}
